<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agamecompany.childnotebook2" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Note Book</name>
    <description>
        Children notes
    </description>
    <author email="kjartan@agamecompany.com" href="http://agamecompany.com">
        aGameCompany team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<feature name="Camera">
	    <param name="ios-package" value="CDVCamera" />
	</feature>
	<feature name="Capture">
	    <param name="ios-package" value="CDVCapture" />
	</feature>    
	<feature name="File">
	    <param name="ios-package" value="CDVFile" />
	</feature>
	<feature name="FileTransfer">
	    <param name="ios-package" value="CDVFileTransfer" />
	</feature>	
	<preference name="DisallowOverscroll" value="true" />    
</widget>
