<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agamecompany.notebook" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NoteBook</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<feature name="Camera">
	    <param name="ios-package" value="CDVCamera" />
	</feature>
	<feature name="Capture">
	    <param name="ios-package" value="CDVCapture" />
	</feature>    
	<feature name="File">
	    <param name="ios-package" value="CDVFile" />
	</feature>
	<feature name="FileTransfer">
	    <param name="ios-package" value="CDVFileTransfer" />
	</feature>	
	<preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="true"/>
    
</widget>
